---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

{{content}}

<h3 style="text-align: center;">{{ page.date | date: "%Y년 %m월 %-d일" }}<br/>
{{ page.author | default: site.author }}</h3>

{% if page.tags %}
	<small>tags: {%for tag in page.tags %}<a href="/tags/{{ tag }}/">{{ tag }}</a> {% endfor%}</small>
{% endif %}

<script src="https://utteranc.es/client.js"
        repo="hueypark/hueypark.github.io"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
