<!DOCTYPE html>
<head>
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
	<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">
</head>
<body>
	<div class="reveal">
		<div class="slides">
			<section data-markdown="/assets/slide/{{ page.slide }}/slide.md" data-separator="---">
			</section>
		</div>
	</div>

	<script src="/assets/reveal.js/js/reveal.js"></script>
	<script src="/assets/reveal.js/plugin/markdown/marked.js"></script>
	<script src="/assets/reveal.js/plugin/markdown/markdown.js"></script>
	<script>
		Reveal.initialize({
			markdown: { smartypants: true },
			history: true,
		});

		let link = document.createElement( "link" );
		link.rel = "stylesheet";
		link.type = "text/css";
		link.href = window.location.search.match( /print-pdf/gi ) ? "/assets/reveal.js/css/print/pdf.css" : "/assets/reveal.js/css/print/paper.css";
		document.getElementsByTagName( "head" )[0].appendChild( link );
	</script>
	{% include analytics.html %}
</body>
</html>
